/* @media only screen and (min-width: 368px) {
  

  table {
    width: 100%; 
  }

  th, td {
    
    font-size: 14px;
    padding: 8px;
  }

  .order-details { 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }

  .order-details p {
    margin: 2px 0; 
  }
}


table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  grid-auto-rows: minmax(auto, 1fr);
  gap: 10px; 
}

th, td {
  display: block; 
  text-align: left;
}


table {
  overflow-x: auto;
} */
